
footer{
    margin: 1rem 0;
    padding: 1rem 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
}
.social a i{
    font-size: 1rem;
}
.social a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;  
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}