<footer>
    <div class="footer-content">
        <h3>Pyone</h3>
        <p>Connecting places and peoples 
        making change in the current world for
        the betterment of the society.
        </p>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>
            copyright &copy;2022 Pyone. designed by <span>Abdul , Deepanshu & Archit</span>
        </p>
    </div>
</footer>