<div class="footer-content">
    <h3>AD CODE</h3>
    <p>Thank you for using our compiler.
        Hope you enjoyed coding with us. </p>
        <ul class="socials">
            <li><a href="#"><i class=".fa.fa-facebook"></i></a></li>
            <li><a href="#"><i class=".fa.fa-twitter"></i></a></li>
            <li><a href="#"><i class=".fa.fa-google"></i></a></li>
            <li><a href="#"><i class=".fa.fa-linkdin"></i></a></li>
        </ul>
    </div>
    <div class="footer-button">
        <p>Copyright &copy;2022 AD CODE designed by <span>MADDY,DEEPU,ARMPIT</span></p>
    </div>